html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#instructions {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  color: #ffffff;
  text-align: center;
}
.window {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
}
.window-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  width: 70%;
  border-radius: 50px 0px 0px 50px;
  background-image: url("/src/assets/christmas-bg.svg");
  background-size: 105%;
  background-position: center;
  h1 {
    letter-spacing: 1px;
    font-weight: 100;
    font-family: "Orelega One", cursive;
    text-align: center;
    font-size: 9vh;
    margin: initial;
    color: #f0cd83;
  }
  p {
    font-size: 2.5vh;
    padding: 0px 30px;
    text-align: center;
  }
}
.play {
  font-family: "Orelega One", cursive;
  letter-spacing: 1px;
  font-weight: 100;
  background-color: #226d5d;
  border: 2px solid #f0cd83;
  border-radius: 10px;
  width: 22vw;
  height: 8vh;
  color: #f0cd83;
  font-size: 3vh;

  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.walkHouse {
  width: 14vw;
  height: 18vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #f0cd83;
  border: 2px solid white;
  border-radius: 10px;
  img {
    display: block !important;
    height: 12vh;
  }
  &::after {
    content: "Разходи се";
    position: absolute;
    white-space: nowrap;
    color: #226d5d;
    font-size: 1.8vh;

    bottom: 8px;

    left: 50%;
    transform: translateX(-50%);
  }
}
.FindGifts {
  width: 14vw;
  height: 18vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #f0cd83;
  border: 2px solid white;
  border-radius: 10px;
  img {
    display: block !important;

    height: 12vh;
  }
  &::after {
    content: "Намери изгубената yкраса";
    position: absolute;
    white-space: nowrap;
    color: #226d5d;
    font-size: 1.8vh;

    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.ShareSocial {
  width: 14vw;
  height: 18vh;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #f0cd83;
  border: 2px solid white;
  border-radius: 10px;
  img {
    display: block !important;

    height: 10vh;
  }
  &::after {
    content: "Сподели ни резултата";
    position: absolute;
    white-space: nowrap;
    color: #226d5d;
    font-size: 1.8vh;

    bottom: 8px;

    left: 50%;
    transform: translateX(-50%);
  }
}
.numAndImg {
  display: flex;
  align-items: center;
  .number {
    position: relative;
    margin: 10px;
    font-size: 12vh;
    font-family: "Orelega One", cursive;
    letter-spacing: 1px;
    font-weight: 100;
    z-index: 1;
    color: #226d5d;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 10px;
      height: 7vh;
      width: 7vh;
      background-color: #c69835;
      border-radius: 50%;
    }
  }
}
.window-right {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 0px 50px 50px 0px;
  h2 {
    font-size: 5vh;
    font-weight: 100;
    margin: 3vh 0px;
    color: #1e5f4e;
  }
  p {
    font-size: 2.5vh;
    color: #1e5f4e;
  }

  img {
    display: block;
  }
}
.cursor {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cursor:before,
.cursor:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #d00;
}

.cursor:before {
  left: 50%;
  width: 5%;
  height: 100%;
}

.cursor:after {
  top: 50%;
  height: 5%;
  width: 100%;
}
.controls {
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 20px;
  color: #1e5f4e;
  margin-bottom: 20px;
  img {
    height: 15vh;
  }
}
.line {
  width: 100%;
  background-color: black;
  height: 2px;
  opacity: 0.3;
}

.esc {
  display: none;
  position: absolute;
  color: #1e5f4e;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 150px;
  height: 80px;
  margin: 10px;
  background-color: white;
  &::after {
    content: "Опции";
    position: absolute;
    color: black;
    top: 5px;
    font-size: 15px;
    opacity: 0.3;
  }
}

.legend {
  display: none;
}
.gotowebRetap,
.gotowebIdeas,
.gotowebBuybest,
.gotowebWeband,
.gotowebBrainAcademy,
.gotowebSofun,
.gotowebDalsiat,
.gotowebTehnad,
.gotowebBestNanny {
  position: absolute;
  left: 50%;
  width: 40vw;
  transform: translate(-50%, -50%);
  background-image: url("/src/assets/christmas-bg.svg");
  background-size: cover;
  backdrop-filter: blur(5px);
  color: #ffffff;
  border-radius: 50px;
  top: -100vh;
  transition: 1s ease-in-out;
  padding: 5vh;
  img {
    border-radius: 20px;
    width: 20%;
    display: block !important;
  }
  h2 {
    text-align: center;
    font-size: 4vh;
    color: #f0cd83;
  }
  .gotoweb-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    letter-spacing: 1px;
    font-family: "Orelega One", cursive;
    h2 {
      font-weight: 100;
    }
  }
  .continue {
    background-color: #226d5d;
    border: 2px solid #f0cd83;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    height: 60px;
    color: #f0cd83;
    font-size: 3vh;
    font-weight: 100;
    font-family: "Orelega One", cursive;
    letter-spacing: 1px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.mouse {
  img {
    height: 25vh;
  }
}

.img {
  width: 45%;
}
.img {
  position: relative;
  img {
    display: block !important;
  }
}
.bar {
  position: absolute;
  background-color: #2b6352;
  width: 40px;
  height: 25%;
  bottom: 0px;
  z-index: -1;
  transition: height 0.5s ease-in-out;
  left: 20px;
}
.gift-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("/src/assets/christmas-bg.svg");
  background-size: cover;
  background-position: center;
  background-position-y: -7vh;
  border-radius: 50px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5vh 15vh;
  h2 {
    font-size: 9vh;

    margin: 0px;
    font-weight: 100;
    font-family: "Orelega One", cursive;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #f0cd83;
  }
  p {
    font-size: 2.5vh;
    margin: 0px;
    margin-bottom: 35px;
    a {
      font-size: 2.5vh;

      text-decoration: none;
    }
  }
  .btn {
    display: flex !important;
    text-decoration: none;
    background-color: #226d5d;
    font-weight: 100;
    font-family: "Orelega One", cursive;
    letter-spacing: 1px;
    border: 2px solid #f0cd83;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    color: #f0cd83;
    font-size: 3vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.weband-text,
.tehnad-text,
.nanny-text,
.dalsiat-text,
.buybest-text {
  width: 70%;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  border-radius: 20px;
  top: -100vh;
  transition: 1s ease-in-out;
}
.nanny-text {
  a {
    color: #f0cd83;
  }
  .gift-text-wrapper {
    border-radius: 50px;
    h2 {
      font-size: 5vh;
      width: 80%;
    }
    p {
      font-size: 2.5vh;
    }
  }
}
.weband-text {
  .gift-text-wrapper {
    padding: 2vh 15vh;
  }
}
.dalsiat-text {
  .gift-text-wrapper {
    padding: 2vh 15vh;
  }
}
.nanny-text {
  .gift-text-wrapper {
    padding: 2vh 15vh;
  }
}

.found-text {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  border-radius: 20px;
  top: -100vh;
  transition: 1s ease-in-out;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  .weband3dlogo {
    height: 130px;
  }
  .dalsiatlogo {
    height: 80px;
  }
  .buybestlogo {
    height: 100px;
  }
  .tehnadlogo {
    height: 80px;
  }
  .brainad {
    height: 130px;
  }
  img {
    filter: brightness(0) invert(1);
    display: block !important;
  }
}
.wrapper {
  top: -100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.player-time {
  margin: 10px;
  z-index: 0;
  display: none;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  font-size: 28px;
  right: 0px;
  color: #1e5f4e;
  border-radius: 20px;
  width: 200px;
  height: 80px;
  transition: width 1s ease-in-out;
  background-color: white;
  padding-left: 20px;
  h2 {
    font-size: 3vh;
    margin: 0px;
  }
}
.close {
  display: block !important;
}
